image: rust:latest

variables:
  CARGO_HOME: $CI_PROJECT_DIR/cargo
  APT_CACHE_DIR: $CI_PROJECT_DIR/apt

before_script:
  - apt-get update -o dir::cache::archives="$APT_CACHE_DIR" -yq
  - apt-get install -o dir::cache::archives="$APT_CACHE_DIR" -y libsqlcipher-dev
  - apt-get install -y docker.io
  - cargo install cargo-audit
  - rustup component add rustfmt
  - rustup component add clippy

cache:
  key: "$CI_JOB_NAME"
  paths:
    - apt/
    - cargo/
    - target/

stages:
  - test
  - docs
  - build_push_DO
  - build_push_Gitlab

test:
  stage: test
  # tags:
  #   - internal-memri
  # image: ekidd/rust-musl-builder
  script:
    - cargo fmt --all -- --check
    - touch src/main.rs && cargo clippy --all-targets --all-features -- -D warnings
    - if grep --recursive '::{' src/; then exit -1; fi
    - cargo audit
    - cargo test
    - ./tools/test_curl.sh
    
build_push_DO:
  stage: build_push_DO
  script:
    - systemctl start docker
    - echo -n $Access_Token | docker login -u $Access_Token --password-stdin $Docker_Repo
    - >
      docker build
      --pull
      --build-arg use_kubernetes=true
      --tag $Docker_Repo/polis/pod-dev:$CI_COMMIT_REF_SLUG-$CI_COMMIT_SHORT_SHA
      .
    - docker push $Docker_Repo/polis/pod-dev:$CI_COMMIT_REF_SLUG-$CI_COMMIT_SHORT_SHA

build_push_Gitlab:
  stage: build_push_Gitlab
  script:
    - systemctl start docker 
    - echo -n $CI_REGISTRY_PASSWORD | docker login --username $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
    - >
      docker build
      --pull
      --build-arg use_kubernetes=false
      --tag $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG-$CI_COMMIT_SHORT_SHA
      .
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG-$CI_COMMIT_SHORT_SHA

pages:
  stage: docs
  script:
    - rm -rf target/doc 2>/dev/null || true
    - cargo doc --no-deps
    - mkdir -p public/rustdoc
    - mv -T target/doc public/rustdoc
    - echo '<a href="./rustdoc/pod">rustdoc</a>' > public/index.html
  artifacts:
    paths:
      - public
  only:
    - dev
