# WARNING:
# Project currently uses GitLab shell runner instead of proper containers.
#
# Merge requests to improve this are welcomed!

stages:
  - test
  - release

test:
  stage: test
  script:
    - cargo fmt --all -- --check
    - if grep --recursive '::{' src/; then exit -1; fi
    - touch src/main.rs && cargo clippy --all-targets --all-features -- -D warnings
    - cargo audit
    - cargo test
    - ./tools/test_curl.sh

branch executable:
  stage: release
  script:
    - cargo build --release
  artifacts:
    paths:
      - target/release/pod
    expire_in: 3 months
  rules:
    - if: '$CI_COMMIT_BRANCH != "dev"'

dev executable:
  stage: release
  script:
    - cargo build --release
  artifacts:
    paths:
      - target/release/pod
    expire_in: 1 year
  rules:
    - if: '$CI_COMMIT_BRANCH == "dev"'

pages:
  stage: release
  script:
    - rm -rf target/doc 2>/dev/null || true
    - cargo doc --no-deps
    - mkdir -p public/rustdoc
    - mv -T target/doc public/rustdoc
    - echo '<a href="./rustdoc/pod">rustdoc</a>' > public/index.html
  artifacts:
    paths:
      - public
  rules:
    - if: '$CI_COMMIT_BRANCH == "dev"'
