# WARNING:
# Project currently GitLab shell runner state instead of proper caching.
#
# If you have any ideas on how to make the gitlab runner
# both isolated (not having access to docker and thus `root`) and properly cached, please tell!
# Merge request or send an email or send a Slack message.

stages:
  - test
  - docs

test:
  stage: test
  script:
    - cargo fmt --all -- --check
    - touch src/main.rs && cargo clippy --all-targets --all-features -- -D warnings
    - cargo audit
    - cargo test

pages:
  stage: docs
  script:
    - rm -rf target/doc 2>/dev/null || true
    - cargo doc --no-deps
    - mkdir -p public/rustdoc
    - mv -T target/doc public/rustdoc
    - echo '<a href="./rustdoc/pod">rustdoc</a>' > public/index.html
  artifacts:
    paths:
      - public
  only:
    - dev
