image: rust:latest

before_script:
  - apt-get update && apt-get install -y libsqlcipher-dev
  - cargo install cargo-audit
  - rustup component add rustfmt
  - rustup component add clippy

cache:
  key: "$CI_JOB_NAME"
  paths:
    - $HOME/.cargo/
    - target/

stages:
  - test
  - docs

test:
  stage: test
  script:
    - cargo fmt --all -- --check
    - touch src/main.rs && cargo clippy --all-targets --all-features -- -D warnings
    - if grep --recursive '::{' src/; then exit -1; fi
    - cargo audit
    - cargo test
    - ./tools/test_curl.sh

pages:
  stage: docs
  script:
    - rm -rf target/doc 2>/dev/null || true
    - cargo doc --no-deps
    - mkdir -p public/rustdoc
    - mv -T target/doc public/rustdoc
    - echo '<a href="./rustdoc/pod">rustdoc</a>' > public/index.html
  artifacts:
    paths:
      - public
  only:
    - dev
