[package]
name = "pod"
version = "0.1.2"
authors = [
  "Bijun Li <bijun.li@polis.global>",
  "Ruben Seggers <ruben.seggers@polis.global>",
  "Vasili Novikov (copyright transferred to Polis) <n1dr+cm3513git@ya.ru>",
  "Youp Mickers (copyright transferred to Polis) <polisyoup@gmail.com>",
]
edition = "2018"
publish = false # Prevent accidental publishing


[dependencies]
blake2 = "0.9.0"
bytes = "0.5.6"
chrono = { version = "0.4.13", features = ["serde"] }
env_logger = "0.7.1"
hex = "0.4.2"
lazy_static = "1.4.0"
log = "0.4.11"
r2d2 = "0.8.9"
r2d2_sqlite = "0.16.0"
refinery = { version = "0.3.0", features = ["rusqlite"] }
regex = "1.3.9"
rusqlite = { version = "0.23.1", features = ["sqlcipher"] }
serde = { version = "1.0.114", features = ["derive"] }
serde_json = "1.0.56"
sha2 = "0.9.1"
tokio = { version = "0.2.22", features = ["macros"] }
warp = { version = "0.2.4", default-features = false, features = ["tls"] }


[dev-dependencies]
criterion = "0.3.3"


[profile.release]
lto = true

[[bench]]
name = "rusqlite_reconnection"
harness = false

