[package]
name = "pod"
version = "0.0.1"
authors = [
  "Vasili Novikov (copyright transferred to Polis) <n1dr+cm3513git@ya.ru>",
]
edition = "2018"


[dependencies]
chrono = "0.4.11"
dgraph = { version = "0.3.1", default-features = false, features = ["dgraph-1-1"] }
env_logger = "0.7.1"
lazy_static = "1.4.0"
log = "0.4.8"
serde = { version = "1.0.106", features = ["derive"] }
serde_json = "1.0.51"
tokio = { version = "0.2.18", features = ["macros"] }
warp = { version = "0.2.1", features = ["tls"] }
