[package]
name = "pod"
version = "0.0.1"
authors = [
  "Vasili Novikov (copyright transferred to Polis) <n1dr+cm3513git@ya.ru>",
  "Bijun Li <bijun.li@polis.global>",
]
edition = "2018"
publish = false # Since the project does not have a licence yet, prevent accidental publishing.


[dependencies]
bytes = "0.5.4"
chrono = { version = "0.4.11", features = ["serde"] }
config = { version = "0.10.1" }
dgraph = { version = "0.3.1", default-features = false, features = ["dgraph-1-1"] }
env_logger = "0.7.1"
lazy_static = "1.4.0"
log = "0.4.8"
serde = { version = "1.0.106", features = ["derive"] }
serde_json = "1.0.51"
serial_test = "0.4.0"
tokio = { version = "0.2.18", features = ["macros"] }
warp = { version = "0.2.1", features = ["tls"] }

glob = "0.3.0"

[profile.release]
## Enable LTO when we start having "incremental" docker builds of the Pod.
# lto = true

