[package]
name = "pod"
version = "0.0.1"
authors = [
  "Bijun Li <bijun.li@polis.global>",
  "Ruben Seggers <ruben.seggers@polis.global>",
  "Vasili Novikov (copyright transferred to Polis) <n1dr+cm3513git@ya.ru>",
  "Youp Mickers (copyright transferred to Polis) <polisyoup@gmail.com>",
]
edition = "2018"
publish = false # Since the project does not have a licence yet, prevent accidental publishing.


[dependencies]
bytes = "0.5.5"
chrono = { version = "0.4.11", features = ["serde"] }
config = "0.10.1"
env_logger = "0.7.1"
glob = "0.3.0"
lazy_static = "1.4.0"
log = "0.4.8"
r2d2 = "0.8.8"
r2d2_sqlite = "0.16.0"
rusqlite = { version = "0.23.1", features = ["sqlcipher"] }
serde = { version = "1.0.114", features = ["derive"] }
serde_json = "1.0.55"
serial_test = "0.4.0"
tokio = { version = "0.2.21", features = ["macros"] }
warp = { version = "0.2.3", features = ["tls"] }

[profile.release]
## Enable LTO when we start having "incremental" docker builds of the Pod.
# lto = true

