[package]
name = "pod"
version = "0.1.1"
authors = [
  "Bijun Li <bijun.li@polis.global>",
  "Ruben Seggers <ruben.seggers@polis.global>",
  "Vasili Novikov (copyright transferred to Polis) <n1dr+cm3513git@ya.ru>",
  "Youp Mickers (copyright transferred to Polis) <polisyoup@gmail.com>",
]
edition = "2018"
publish = false # Since the project does not have a licence yet, prevent accidental publishing.


[dependencies]
bytes = "0.5.5"
chrono = { version = "0.4.13", features = ["serde"] }
env_logger = "0.7.1"
lazy_static = "1.4.0"
log = "0.4.8"
pnet = "0.26.0"
r2d2 = "0.8.9"
r2d2_sqlite = "0.16.0"
refinery = { version = "0.3.0", features = ["rusqlite"] }
regex = "1.3.9"
rusqlite = { version = "0.23.1", features = ["sqlcipher"] }
serde = { version = "1.0.114", features = ["derive"] }
serde_json = "1.0.56"
tokio = { version = "0.2.21", features = ["macros"] }
warp = { version = "0.2.3", default-features = false, features = ["tls"] }

[profile.release]
lto = true

