[package]
name = "pod"
version = "0.0.1"
authors = [
  "Vasili Novikov (copyright transferred to Polis) <n1dr+cm3513git@ya.ru>",
]
edition = "2018"


[dependencies]
dgraph = { version = "0.3.1", default-features = false, features = ["dgraph-1-1"] }
rweb = { version = "0.5.1", features = ["tls", "openapi"] }
serde = { version = "1.0.106", features = ["derive"] }
serde_json = "1.0.51"
tokio = "0.2.17"
