version: '3'
services:
  pod:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    image: pod:latest
    ports:
      - "3030:3030"
    networks:
      - memri-net
    volumes:
      - ./data/db:/data/db
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - POD_DOCKER_ARGUMENTS=--net=pod_memri-net,--env=POD_ADDRESS=pod_pod_1

volumes:
  db:

networks:
  memri-net:
