version: '3'
services:
    pod:
      build:
        context: .
        dockerfile: Dockerfile
      restart: always
      image: pod:latest
      ports:
        - "3030:3030"
      networks:
        - my-net
      volumes:
        - download-volume:/data
        - ./db:/db:consistent

volumes:
  download-volume:
  db:

networks:
  my-net:
