version: '3'
services:
    dgraph:
      image: dgraph/standalone:latest
      ports:
        - "8000:8000"
        - "8080:8080"
        - "9080:9080"
      networks:
        - my-net

    pod:
      build:
        context: .
        dockerfile: Dockerfile
      restart: always
      environment:
        - DROP_SCHEMA_AND_ALL_DATA=false
        - ADD_SCHEMA_ON_START=true
        - DGRAPH_HOST=pod_dgraph_1:9080
        - RUST_LOG=trace
      image: pod:latest
      ports:
        - "3030:3030"
      depends_on:
        - dgraph
      networks:
        - my-net
networks:
  my-net:
