<!DOCTYPE html>
<html>
<head>
    <title>WhatsApp Web</title>
    <script>
        checkUpdates('/qrcode?' + Math.random())

        function checkUpdates(url) {
          var xhr = new XMLHttpRequest();
          xhr.open('GET', url);
          xhr.responseType = "blob"
          xhr.onload = function() {
            document.getElementById("auth_message").text = "QR Code updated"
            document.getElementById("qrcode").src = URL.createObjectURL(xhr.response)
          };
          xhr.send();
        }

        function checkAuthStatus() {
          var xhr = new XMLHttpRequest();
          xhr.open('GET', '/auth_status?' + Math.random());
          xhr.onload = function() {
            if(xhr.responseText == "authorized") {
                clearInterval(qrCodeIntervalId)
                document.getElementById("auth_message").innerHTML = "Successfully logged in."
                document.getElementById("qrcode").style.visibility = "hidden"
            }

            if(xhr.responseText == "unauthorized") {
                clearInterval(qrCodeIntervalId)
                document.getElementById("auth_message").innerHTML = "QR code scan timed out. Please try again."
                document.getElementById("qrcode").style.visibility = "hidden"
            }
          };
          xhr.send();
        }

        var qrCodeIntervalId = setInterval(function() {
                                        checkUpdates('/qrcode?' + Math.random())
                                        checkAuthStatus()
                                     }, 5000);
    </script>
</head>
<center>
    <body>
        <h1>WhatsApp Web QR Code</h1>
&nbsp;&nbsp;
        <div id="auth_in_progress">
        <h2>Please use WhatsApp Web to scan the QR code</h2>
            <p>
                <img id="qrcode" class="center">
            </p>
        </div>
        <div id="auth_result">
            <span id="auth_message">Authorization in progress ...</span>
        </div>
    </body>
</center>
</html>
